<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />

	<bean id="taskSpringInitation"
		class="org.distributedScheduler.biz.task.TaskProcessSpringInitation"></bean>

	<bean id="taskFactory" class="org.distributedScheduler.biz.task.TaskFactory"
		init-method="start" destroy-method="shutdown"></bean>

	<bean id="distributedLock"
		class="org.distributedScheduler.biz.lock.impl.ZooKeeperDistributedLock"
		init-method="init">
	</bean>

	<bean id="zooKeeper" class="org.apache.zookeeper.ZooKeeper">
		<constructor-arg index="0">
			<value>localhost</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>2181</value>
		</constructor-arg>
		<constructor-arg index="2">
			<null />
		</constructor-arg>
	</bean>

	<bean id="configService"
		class="org.distributedScheduler.biz.config.impl.ConfigServiceImpl"
		init-method="init">
	</bean>

</beans>

